$green-dark: green;
$green-light: rgb(130, 188, 77);

html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Staatliches', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
h1, h2, h3, h4, h5 ,h6, p, a {
  margin: 0;
  color: white;
}

h1 {
  font-size: 4.5rem;
  line-height: 1;
}
h2 {
  font-size: 3rem;
  color: white;
}
h3 {
  font-size: 2rem;
  color: white;
}
h4 {
  font-size: 1.8rem;
}
h5 {

}
h6{

}
p {
  font-size: 1.4rem;
  @media(max-width: 800px){
    font-size: 1rem;;
  }
}
.content-title {
  padding: 20px;
}

.schedule, .past-winners, .current-teams, .about, .login-page, .weekly-results, .standings {
  background-color: rgb(130, 188, 77);
  min-height: 80vh;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  h3, h2{
    color: white;
    text-decoration: underline;
  }
  p {
    color: white;
  }
  
}
.ReactModal__Content--after-open {
  // position: fixed;
  // inset: 0px;
  // background-color: rgba(255, 255, 255, 0.75);
  // padding: 0!important;
  // width: 100vw!important;
  // height: 100vw!important;
  // position: absolute;
  // inset: 100%!important;
  // border: 1px solid rgb(204, 204, 204);
  // background: rgb(255, 255, 255);
  // overflow: auto;
  // border-radius: 4px;
  // outline: none;
  // padding: 20px;
  // transform: translate(-100%, -80%)!important;
  // width: 50vw;
  // height: 50vh;
  position: unset!important;
  inset: unset!important;
  border: unset!important;
  background:unset!important;
  overflow: unset!important;
  border-radius: unset!important;
  outline: unset!important;
  padding: unset!important;
  margin-right: unset!important;
  transform: unset!important;
  width: unset!important;
  height: unset!important;



  @media (max-width: 800px) {
    width: 100vw!important;
    height: 100vw!important;
  }

}
.modal-inside-wrapper {
  position: relative;
  display: flex;
  padding-top: 24px;
  flex-direction: column;
  align-items: center;
  background-image: url("/gold.svg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  overflow: scroll;
  .trophy {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  h1 {
    margin-bottom: 24px;
  }
  h5 {
    font-size: 32px;
  }
  .x-wrapper {
    cursor: pointer;
    position: absolute;
    z-index: 99999;
    top: 10px;
    left: 15px;
    width: 20px;
    color: white;
  }
}
.gear-wrapper {
  width: 22px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  top: 20px;
  cursor: pointer;
}

.btn {
  max-width: 50%;
  border: 1px black solid;
  border-radius: 5px;
  background-color: $green-light;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
  &:hover {
    opacity: .5;
  }
}

.navbar {

  .desktop-icons {
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
    @media (max-width: 800px) {
      display: none;
    }
  }
  .mobile-icons {
    padding: 20px;
    h3 {
      font-size: 32px;
    }
    position: relative;
    height: 0;
    overflow: hidden;
    transition: max-height 0.55s ease-in;
    @media (max-width: 800px) {
      height: auto;
    }
  }
  .hamburger-react {
    color: white;
    @media (min-width: 800px) {
      display: none;
    }
  }
  @media (max-width: 800px) {
    justify-content: space-between;
  }
  .active {
    color: $green-dark;
  }
  .logo {
    margin: 0;
    padding-left: 10px;
    @media (max-width: 800px){
      
    }
  }

  .show-secret {
    display: inline-block!important;
  }

  .disabled {
    pointer-events: none;
  }
  h3 {
    padding: 0 10px; 
    color: white;
    @media (max-width: 800px) {
      font-size: 14px;
    }
    &:hover {
      color: $green-dark;
      cursor: pointer;
    }
  }
  background-color: $green-light;
}

.hero {
  .right {
    // background-color: $green-light;
  }
  .mascots {
    @media (max-width: 800px){
      display: none;
    }
  }

  .hero-main-text {
    color: white;
    text-shadow: 0 0 10px #fff603;
    margin-bottom: 0;
    @media (max-width: 1000px){
      font-size: 2.5rem;
    }
  }
  p {
    margin-top: 0;
    color: white;
  }
  &__wrapper {
    max-height: 44vh;
    display: flex;
    @media (max-width: 900px){

    }
    .right {
      padding: 30px;
      .swirl {
        position: relative;
        width: 100%;
        position: absolute;
        // height: 53.7vh;
        height: 100%;
        top: 0px;
        left: 201px;
        z-index: -1;
        @media (max-width: 800px){
          left: 0px;
        }
    }
    .swirl img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
    }
    }
    
  }
}



.schedule {
  &__wrapper {

  }

  h2 {
    margin: 0;
    color: white;
  }
}

.about {
  &__wrapper {
    text-align: center;
    padding: 0 16vw;
    &-teams {
      padding-top: 33px;

    }
  }
}

.logo {
  height: 50px;
}


.current-teams {
  &__wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    p {
      padding: 3px;
    }
  }
}

.past-winners {
  &__wrapper {
    display: flex;
    .winner {
      columns: 2 auto;

    }
  }
}

.weekly-results {
  text-align: center;
  justify-content: center;
  h1, h2 {
    color: white;
  }
  h3,h4,h5,h5,p {
    color: darkgreen;;
  }
  .weekly-results-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__week {
      min-width: 250px;
      margin: 25px;
      padding: 25px;
      border: 3px solid $green-dark;
      background-color: white;
      border-radius: 5px;
      .date {
        margin-bottom: 24px;
      }
      .game {
        margin: 12px 0;
      }
    }
  }
}




.standings {
  overflow: hidden;
  @media (max-width:800px) {
    padding-left: 0;
    padding-right: 0;
  }
  h2 {
    margin-bottom: 24px;
  }

  .table {
    width:100%;
    border:5px solid $green-dark;
  }
  .table-header {
    display:flex;
    width:75vw;
    background:$green-dark;
    padding:20px 0;
    @media (max-width:800px) {
      width:100vw;
    }
  }
  .table-row {
    display:flex;
    width:75vw;
    background: #d0f2bb;
    @media (max-width:800px) {
      width:100vw;
    }
    padding: 10px 0;
    &:nth-of-type(odd) {
      background:white;
    }
  }
  .table-data, .header__item {
    flex: 1 1 20%;
    text-align:center;
  }
  .header__item {
    text-transform:uppercase;
  }
  .filter__link {
    color:white;
    text-decoration: none;
    position:relative;
    display:inline-block;
    padding-left: 30px;
    padding-right: 30px;
    &::after {
      content:'';
      position:absolute;
      right:-15px;
      color:white;
      font-size:20px;
      top: 50%;
      transform: translateY(-50%);
    }
    &.desc::after {
      content: '(desc)';
    }
    &.asc::after {
      content: '(asc)';
    }
  }
  
// .table {
// 	width:100%;
// 	border:5px solid $green-dark;
// }
// .table-header {
// 	display:flex;
// 	width:75vw;
// 	background:$green-dark;
// 	padding:20px 0;
// }
// .table-row {
// 	display:flex;
// 	width:75vw;
// 	padding: 20px 0;
// 	&:nth-of-type(odd) {
// 		background:white;
// 	}
// }
// .table-data, .header__item {
// 	flex: 1 1 20%;
// 	text-align:center;
// }
// .header__item {
// 	text-transform:uppercase;
// }
// .filter__link {
// 	color:white;
// 	text-decoration: none;
// 	position:relative;
// 	display:inline-block;
// 	padding-left: 30px;
// 	padding-right: 30px;
// 	&::after {
// 		content:'';
// 		position:absolute;
// 		right:-15px;
// 		color:white;
// 		font-size:20px;
// 		top: 50%;
// 		transform: translateY(-50%);
// 	}
// 	&.desc::after {
// 		content: '(desc)';
// 	}
// 	&.asc::after {
// 		content: '(asc)';
// 	}
// }
}
































//animate softball
.flier {
	pointer-events: none;
}

.flier > * {
/* Adjust animation duration to change the element’s speed */
        animation: fly 50s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}



//Cursor

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  }
  .cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 2px solid $green-dark;
  border-radius: 50%;
  opacity: .5;
  top: -8px;
  left: -8px;
  }
  @keyframes cursorAnim {
  0% {
  transform: scale(1);
  }
  50% {
  transform: scale(3);
  }
  100% {
  transform: scale(1);
  opacity: 0;
  }
  }
  .expand {
  animation: cursorAnim .5s forwards;
  }



  .glow {
    text-shadow:
    0 0 7px #fff,


}
  
  




  // Animate bat

  //animate softball
.softball {
	pointer-events: none;
}

.softball > * {
/* Adjust animation duration to change the element’s speed */
        animation: swing 10s linear infinite;
        pointer-events: none !important;
	top: 0;
	right: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: .1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}



//animate softball
.bat {
	pointer-events: none;
}

.bat > * {
/* Adjust animation duration to change the element’s speed */
        animation: swing 50s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: .1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes swing {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}



//Cursor

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  }
  .cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 2px solid $green-dark;
  border-radius: 50%;
  opacity: .5;
  top: -8px;
  left: -8px;
  }
  @keyframes cursorAnim {
  0% {
  transform: scale(1);
  }
  50% {
  transform: scale(3);
  }
  100% {
  transform: scale(1);
  opacity: 0;
  }
  }
  .expand {
  animation: cursorAnim .5s forwards;
  }